<!DOCTYPE html>
<html>

<head>

<title>Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

<h2>EduFlow School Portal</h2>

</nav>

<div class="container">

<div class="card">

<h1>Student Dashboard</h1>

<p>

Welcome <b>Emmanuela</b>

</p>

<hr>

<h3>Quick Menu</h3>

<p>👤 My Profile</p>

<p>📚 My Courses</p>

<p>📝 Examination Results</p>

<p>💰 School Fees</p>

<p>📅 Attendance</p>

<p>📩 Messages</p>

<br>

<a href="/" class="btn">

Logout

</a>

</div>

</div>

</body>

</html>